/* style.css hoặc module CSS nếu bạn dùng CSS Modules */
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif !important;
}

.select-custom .ant-select-selector {
    border-radius: 0px !important;
}

.picker-custom {
    width: 100%;
    border-radius: 0px;
}

/* Layout */
.menu {
    background-image: url("/bg.jpg") !important;
    background-size: cover !important;
    background-position: center !important;
}

.ant-menu {
    background: unset;
}

.ant-menu-submenu-popup .ant-menu-vertical .ant-menu-item span {
    color: black !important;
}

.ant-menu-submenu-popup .ant-menu-vertical .ant-menu-item-selected {
    background: #75aefd !important;
}

.ant-menu-submenu-popup .ant-menu-vertical .ant-menu-item:hover {
    background: #bfdaff !important;
}

.ant-menu-vertical .ant-menu-item-selected {
    /* background: #0A469C; */
    background: #6e9bda !important;
}

.ant-menu .ant-menu-submenu-arrow,
.ant-menu .ant-menu-item-icon,
.ant-menu .ant-menu-title-content {
    color: white !important;
    font-size: 15px;
    font-weight: 500;
}


.ant-menu .ant-menu-item-selected {
    background: #3a63ae;
}

.ant-layout-content {
    flex: unset;
}

/* Input */
.ant-input-outlined:hover {
    border-color: #d9d9d9;
    box-shadow: unset;
}

.ant-input-outlined:focus-within {
    border-color: #d9d9d9;
    box-shadow: unset;
}

/* Collapse */
.ant-collapse {
    border-radius: 0;
}

.ant-collapse .ant-collapse-body {
    padding: 12px 0px !important;
}

.ant-collapse .ant-collapse-header-text {
    font-weight: 550;
}

.clearBorderCollapse .ant-collapse-header {
    padding-left: 0px !important;
}

.clearBorderCollapse .ant-collapse-content {
    border-top: unset;
}

.clearBorderCollapse .ant-collapse-content-box {
    padding: 4px 0px !important;
}

/* Button */
.ant-btn-variant-solid {
    background: #05428C;
}

.ant-btn-variant-solid:hover {
    background: #074ca0 !important;
}

.ant-btn-variant-link {
    color: #05428C;
}

.ant-btn-variant-link:hover {
    color: #074ca0;
}

.abs-disable:hover {
    background: unset !important;
    color: #BFBFBF !important;
}

/* Table antd customer css */

.zoom-out-table {
    width: 100vw !important;
    top: unset;
    margin: 0px !important;
    max-width: unset !important;
}

.zoom-out-table .ant-modal-content {
    height: 100vh;
    border-radius: 0px !important;
}

.table-custom-container .ant-collapse-header {
    align-items: center;
    padding-right: unset !important;
}

.table-custom .ant-table-container {
    border-start-start-radius: unset;
    border-start-end-radius: unset
}

.table-custom .ant-table-thead .ant-table-cell {
    border-radius: unset !important;
}

.table-custom .ant-table-thead>tr>th {
    padding: 8px 16px;
}

.table-custom .ant-table-expanded-row-fixed {
    height: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.ant-table-tbody tr {
    height: 44px;
}

.ant-table-tbody .ant-table-cell {
    padding: 1px !important;
}

/* input */
.ant-table-tbody .ant-table-cell .ant-input {
    border-radius: unset;
    border: unset;
}

.ant-table-tbody .ant-table-cell input {
    border-radius: unset !important;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100% !important;
}

.ant-table-cell-row-hover {
    background: unset !important;
    transition: unset !important;
}

.view-mode table .ant-table-cell-row-hover::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(146, 146, 146, 0.05);
    z-index: 2;
    opacity: 1;
    pointer-events: none;
}

.table-custom-container .ant-table-cell-fix-left,
.table-custom-container .ant-table-cell-fix-right {
    z-index: 3 !important;
    background-color: white !important;
}

.view-mode .ant-input-outlined.ant-input-disabled {
    background-color: unset;
    color: unset;
    cursor: auto;
}

/* textarea */
.ant-table-tbody .ant-table-cell textarea {
    /* min-height: 48px; */
}


/* select */
.ant-table-tbody .ant-table-cell .ant-select {
    width: 100% !important;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100% !important;
}

.ant-table-tbody .ant-table-cell .ant-select-selector {
    border-radius: unset !important;
    border: unset;
}

/* input number */
.ant-table-tbody .ant-table-cell .ant-input-number {
    width: 100% !important;
    border-radius: unset !important;
    border: unset;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100% !important;
}

.ant-table-tbody .ant-table-cell .ant-input-number .ant-input-number-input-wrap input,
.ant-table-tbody .ant-table-cell .ant-input-number .ant-input-number-input-wrap {
    height: 100% !important;
}

/* checkbox group */
.ant-table-tbody .ant-table-cell .ant-checkbox-group {
    margin-left: 8px;
}

/* Checkbox */
.ant-checkbox-inner {
    border-radius: 0px !important;
}

/* color picker */
.ant-table-tbody .ant-table-cell .ant-color-picker-trigger {
    border: unset;
    width: 100%;
    align-items: center;
    border-radius: unset;
    justify-content: left;
    padding-left: 8px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100% !important;
}

/* date picker */
.ant-table-tbody .ant-table-cell .ant-picker {
    border: unset;
    border-radius: unset;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100% !important;
}

.ant-table-tbody .ant-table-cell .ant-picker input {
    position: unset;
}

/* date range picker */
.ant-table-tbody .ant-table-cell .ant-picker-range {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100% !important;
}

/* switch */
.ant-table-tbody .ant-table-cell .ant-switch {
    margin-left: 8px;
}

/* upload */
.ant-table-tbody .ant-table-cell .ant-upload-list {
    margin-left: 8px;
    margin-bottom: 4px;
}

/* Card */
.ant-card {
    border-radius: 0px !important;
}

/* Popover */
.ant-popover-inner {
    border-radius: 3px !important;
    padding: 0px !important;
}

/* table  combo btn */
.archive-btn,
.delete-btn,
.edit-btn,
.view-btn {
    height: 30px !important;
    width: 30px !important;
    border-radius: 50% !important;
    margin-right: 2px;
}


.view-btn:hover {
    border: 1px solid #cee0ff;
    background: #f3f7ff !important;
}

.edit-btn:hover {
    border: 1px solid #e6fce8;
    background: #f3fff4 !important;
}

.delete-btn:hover {
    border: 1px solid #fce6e6;
    background: #fff3f3 !important;
}

.archive-btn:hover {
    border: 1px solid #fff5f5;
    background: #f0f0f0 !important;
}

.archive-btn .ant-btn-icon,
.delete-btn .ant-btn-icon,
.edit-btn .ant-btn-icon,
.view-btn .ant-btn-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}



.view-btn svg {
    color: #05428C;
    font-size: 20px;
}

.edit-btn svg {
    color: #288006;
    font-size: 20px;
}

.delete-btn svg {
    color: #ce0000;
    font-size: 20px;
}

.archive-btn svg {
    color: #747474 !important;
    font-size: 19px;
}

.reopen-btn svg {
    color: #283aff !important;
    font-size: 19px;
}

.disable {
    position: absolute;
    bottom: 0;
    right: 0;
}

.disable img {
    height: 10px;
    width: 10px;
}

.disable-combo {
    position: absolute;
    bottom: 3px;
    left: 20px;
}

.disable-combo img {
    height: 10px;
    width: 10px;
}

/* Combo action */
.combo-archive span,
.combo-delete span,
.combo-edit span,
.combo-view span {
    display: flex;
    align-items: center;
    justify-content: center;
}

.combo-view svg {
    color: #05428C;
    font-size: 16px;
}

.combo-edit svg {
    color: #288006;
    font-size: 16px;
}

.combo-delete svg {
    color: #ce0000;
    font-size: 16px;
}

.combo-archive svg {
    color: #747474;
    font-size: 17px;
}

.expand-col-popver .ant-card-head-title {
    font-size: 14px !important;
}

.expand-col-popver .ant-card-head {
    padding: 0px 12px;
    min-height: 48px;
}

.expand-col-popver .ant-card-body {
    padding: 8px 12px;
}

/* Hiển thị phần tử với hiệu ứng mờ dần */
.show-with-magic {
    opacity: 1;
    pointer-events: auto;
    transition: opacity 0.2s ease;
}

/* Ẩn phần tử với hiệu ứng mờ dần */
.disappear-with-magic {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease;
}

.hide-scrollbar {
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* IE, Edge */

    overflow: auto;
}

/* Chrome, Safari */
.hide-scrollbar::-webkit-scrollbar {
    display: none;
}